---
import NotFound from "@/sections/NotFound.astro";
import Layout from "@/layouts/Layout.astro";
---

<Layout title="Página no encontrada | F1 Bets Cobetes">
  <main>
    <NotFound />
  </main>
</Layout>
