---
import Administrator from "@/sections/Administrator.astro";
import Layout from "@/layouts/Layout.astro";
---

<Layout title="Gestión de administrador | F1 Bets Cobetes">
  <main>
    <Administrator />
  </main>
</Layout>

<script>
  const token = sessionStorage.getItem("token");

  if (!token) {
    window.location.href = "/login";
  }
</script>
