---
import MainLanding from "@/sections/MainLanding.astro";
import Layout from "@/layouts/Layout.astro";
---

<Layout title="Página principal | F1 Bets Cobetes">
  <main>
    <MainLanding />
  </main>
</Layout>

<style></style>
