---
import Profile from "@/sections/Profile.astro";
import Layout from "@/layouts/Layout.astro";
---

<Layout title="Mi perfil | F1 Bets Cobetes">
  <main>
    <Profile />
  </main>
</Layout>

<script>
  const token = sessionStorage.getItem("token");

  if (!token) {
    window.location.href = "/login";
  }
</script>
