---
import Register from "@/sections/Register.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Registro | F1 Bets Cobetes">
  <main>
    <Register />
  </main>
</Layout>

<style></style>
