---
import MenuIcon from "@/icons/MenuIcon.astro";
---

<nav class="bg-footer border-primary shadow-md shadow-primary">
  <div
    class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4"
  >
    <a
      href="https://f1-bets-cobetes.vercel.app/"
      class="flex items-center space-x-3 rtl:space-x-reverse"
    >
      <img src="/favicon.svg" class="h-8" alt="Logotipo de F1 Bets" />
      <span
        class="self-center text-2xl text-primary font-wide whitespace-nowrap"
        >F1 Bets</span
      >
    </a>
    <button
      id="menu-button"
      data-collapse-toggle="navbar-default"
      type="button"
      class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-primary rounded-lg md:hidden hover:bg-secondary focus:outline-none focus:ring-2 focus:text-primary"
      aria-controls="navbar-default"
      aria-expanded="false"
    >
      <span class="sr-only">Abrir menú principal</span>
      <MenuIcon />
    </button>
    <div class="hidden w-full md:block md:w-auto" id="navbar-default">
      <ul
        id="navbar-links"
        class="font-regular flex flex-col p-4 md:p-0 mt-4 border border-gray-100 rounded-lg bg-footer md:flex-row md:space-x-8 rtl:space-x-reverse md:mt-0 md:border-0 md:bg-footer"
      >
        <li>
          <a
            href="/carreras"
            class="block py-2 px-3 text-primary rounded hover:bg-accent hover:text-primary md:hover:bg-transparent md:border-0 md:text-primary md:hover:text-accent md:p-0"
            aria-current="page"
          >
            Carreras
          </a>
        </li>
        <li>
          <a
            href="/apuestas"
            class="block py-2 px-3 text-primary rounded hover:bg-accent hover:text-primary md:hover:bg-transparent md:border-0 md:text-primary md:hover:text-accent md:p-0"
          >
            Apuestas
          </a>
        </li>
        <li>
          <a
            href="/clasificacion"
            class="block py-2 px-3 text-primary rounded hover:bg-accent hover:text-primary md:hover:bg-transparent md:border-0 md:text-primary md:hover:text-accent md:p-0"
          >
            Clasificación
          </a>
        </li>
        <li>
          <a
            href="/administrador"
            class="block py-2 px-3 text-primary rounded hover:bg-accent hover:text-primary md:hover:bg-transparent md:border-0 md:text-primary md:hover:text-accent md:p-0"
          >
            Administrador
          </a>
        </li>
        <li>
          <a
            href="/perfil"
            class="block py-2 px-3 text-primary rounded hover:bg-accent hover:text-primary md:hover:bg-transparent md:border-0 md:text-primary md:hover:text-accent md:p-0"
          >
            Perfil
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<script>
  showNavLinks();

  document.addEventListener("DOMContentLoaded", function () {
    const button = document.getElementById("menu-button");
    const menu = document.getElementById("navbar-default");

    button?.addEventListener("click", function () {
      menu?.classList.toggle("hidden");
    });
  });

  function showNavLinks() {
    const links = document.getElementById("navbar-links");
    const token = sessionStorage.getItem("token");

    if (token && isValidToken(token)) {
      links?.classList.remove("hidden");
    } else {
      links?.classList.add("hidden");
    }
  }

  function isValidToken(token: string | null) {
    try {
      if (!token) return false;

      const decodedStr = atob(token);
      if (!decodedStr) return false;

      const regex = /^[^\s@]+@[^\s@]+\.[^\s@]+:[^:]+$/;
      if (!regex.test(decodedStr)) return false;

      return btoa(decodedStr) === token;
    } catch (err) {
      return false;
    }
  }
</script>
