---

---

<form class="max-w-sm mx-auto md:min-w-96">
  <div class="mb-5">
    <label for="email" class="block mb-2 text-sm font-regular text-primary"
      >Correo electrónico</label
    >
    <input
      type="email"
      id="email"
      class="bg-secondary border border-gray-300 text-primary text-sm rounded-lg block w-full p-2.5"
      placeholder="correo@gmail.com"
      required
    />
  </div>
  <div class="mb-5">
    <label for="password" class="block mb-2 text-sm font-regular text-primary"
      >Contraseña</label
    >
    <input
      type="password"
      id="password"
      class="bg-secondary border border-gray-300 text-primary text-sm rounded-lg block w-full p-2.5"
      placeholder="pepelotas77"
      required
    />
  </div>
  <!--   <div class="flex items-start mb-5">
    <div class="flex items-center h-5">
      <input
        id="remember"
        type="checkbox"
        value=""
        class="w-4 h-4 border border-gray-300 rounded bg-gray-50"
        required
      />
    </div>
    <label for="remember" class="ms-2 text-sm font-regular text-primary"
      >Recordarme</label
    >
  </div> -->
  <div class="flex flex-col gap-4">
    <button
      id="button-login"
      type="button"
      class="text-white bg-accent border border-gray-300 hover:bg-secondary font-regular rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center"
      >Iniciar sesión</button
    >

    <button
      id="button-register"
      type="button"
      class="text-white bg-accent border border-gray-300 hover:bg-secondary font-regular rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center"
      >No tengo una cuenta</button
    >
  </div>
</form>

<script>
  document?.getElementById("button-register")?.addEventListener("click", () => {
    window.location.href = "/registro";
  });

  document
    ?.getElementById("button-login")
    ?.addEventListener("click", async () => {
      const email = (document?.getElementById("email") as HTMLInputElement)
        ?.value;
      const password = (
        document?.getElementById("password") as HTMLInputElement
      )?.value;
      /*       const isRememberChecked = (
        document?.getElementById("remember") as HTMLInputElement
      )?.checked; */

      if (!email || !password) {
        window.toast({
          title: "Todos los campos son obligatorios.",
          location: "bottom-center",
          dismissible: false,
          type: "warning",
          icon: true,
        });

        return;
      }

      try {
        const response = await fetch("/api/auth/login", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify({ email, password }),
        });

        if (response.ok) {
          const data = await response.json();
          sessionStorage.setItem("token", data.token);

          window.toast({
            title: "Inicio de sesión exitoso.",
            location: "bottom-center",
            dismissible: false,
            type: "success",
            icon: true,
          });
        } else if (response.status === 401) {
          window.toast({
            title: "Correo electrónico o contraseña incorrectos.",
            location: "bottom-center",
            dismissible: false,
            type: "warning",
            icon: true,
          });
        } else if (response.status === 500) {
          window.toast({
            title: "Se ha producido un error inesperado.",
            location: "bottom-center",
            dismissible: false,
            type: "error",
            icon: true,
          });
        }
      } catch (error) {
        window.toast({
          title: "Se ha producido un error inesperado.",
          location: "bottom-center",
          dismissible: false,
          type: "error",
          icon: true,
        });
      }
    });
</script>
