---
---

<form class="max-w-sm mx-auto md:min-w-96">
  <div class="mb-5">
    <label for="email" class="block mb-2 text-sm font-regular text-primary"
      >Correo electrónico</label
    >
    <input
      type="email"
      id="email"
      class="bg-secondary border border-gray-300 text-primary text-sm rounded-lg block w-full p-2.5"
      placeholder="correo@gmail.com"
      required
    />
  </div>

  <div class="mb-5">
    <label for="password" class="block mb-2 text-sm font-regular text-primary"
      >Contraseña</label
    >
    <input
      type="password"
      id="password"
      class="bg-secondary border border-gray-300 text-primary text-sm rounded-lg block w-full p-2.5"
      placeholder="chestercueva99"
      required
    />
  </div>
  <div class="mb-4">
    <input type="checkbox" id="toggle-password" class="mr-1" />
    <label for="togglePassword" class="text-sm text-primary"
      >Mostrar contraseña</label
    >
  </div>

  <div class="flex flex-col gap-4">
    <button
      id="button-login"
      type="button"
      class="text-white bg-accent border border-gray-300 hover:bg-secondary font-regular rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center"
      >Iniciar sesión</button
    >
  </div>
</form>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const emailInput =
      (document.getElementById("email") as HTMLInputElement) || null;
    const passwordInput =
      (document.getElementById("password") as HTMLInputElement) || null;
    const loginButton =
      (document.getElementById("button-login") as HTMLButtonElement) || null;
    const togglePasswordCheckbox =
      (document.getElementById("toggle-password") as HTMLInputElement) || null;

    if (
      !emailInput ||
      !passwordInput ||
      !loginButton ||
      !togglePasswordCheckbox
    ) {
      console.error("No se han encontrado algunos elementos del formulario.");
      return;
    }

    togglePasswordCheckbox.addEventListener("change", () => {
      if (passwordInput.type === "password") {
        passwordInput.type = "text";
      } else {
        passwordInput.type = "password";
      }
    });

    loginButton.addEventListener("click", async () => {
      const email = emailInput.value;
      const password = passwordInput.value;

      if (!email || !password) {
        window.toast({
          title: "Error",
          message: "Por favor, ingresa correo y contraseña",
          type: "error",
          icon: true,
          dismissible: true
        });
        return;
      }

      try {
        const response = await fetch("/api/auth/login", {
          method: "POST",
          headers: { "Content-Type": "application/json" },
          body: JSON.stringify({ email, password }),
        });
        const data = await response.json();

        if (response.ok) {
          window.toast({
            title: "Éxito",
            message: "Inicio de sesión exitoso",
            type: "success",
            icon: true,
            dismissible: true
          });

          sessionStorage.setItem("token", data.token);

          window.location.href = "/perfil";
        } else {
          window.toast({
            title: "Error",
            message: "Credenciales incorrectas",
            type: "error",
            icon: true,
            dismissible: true
          });
        }
      } catch (error) {
        console.error("Error en inicio de sesión:", error);
        window.toast({
          title: "Error",
          message: "Error en la conexión con el servidor",
          type: "error",
          icon: true,
          dismissible: true
        });
      }
    });
  });
</script>
